.hypnotoad {
    position:absolute;
    top:50%;
    left:50%;
    width:500px;
    height:350px;
    margin-left: -250px;
    margin-top: -175px;
}

.ua_svg_yes .hypnotoad {
    background: url(hypnotoad.svg) no-repeat;
}

.ua_svg_no .hypnotoad {
    background: url(hypnotoad.gif) no-repeat;
}
